body{
    color: black;
    text-align: center;
    font-family: Arial;
}

.container{
    width: 100%;
}

.container .cabecera {
    background-color: aqua;
}

.container .post {
    border-radius: 12px;
    background-color: red;
}